@layer components {
  .ci-dev-beacon-location-top-left {
    @apply top-4 left-4;
  }

  .ci-dev-beacon-location-top-middle {
    @apply top-4 left-1/2 -translate-x-1/2;
  }

  .ci-dev-beacon-location-top-right {
    @apply top-4 right-4;
  }

  .ci-dev-beacon-location-left-middle {
    @apply top-1/2 left-4 -translate-y-1/2;
  }

  .ci-dev-beacon-location-right-middle {
    @apply top-1/2 right-4 -translate-y-1/2;
  }

  .ci-dev-beacon-location-bottom-left {
    @apply bottom-4 left-4;
  }

  .ci-dev-beacon-location-bottom-middle {
    @apply bottom-4 left-1/2 -translate-x-1/2;
  }

  .ci-dev-beacon-location-bottom-right {
    @apply right-8 bottom-10;
  }

  .ci-dev-beacon-button {
    @apply bg-muted-100 text-muted-900
           border border-border
           shadow-lg;
  }

  .dark .ci-dev-beacon-button {
    @apply bg-muted-800 text-muted-100
           border-muted-700;
  }

  .ci-log-component,
  .ci-log-func,
  .ci-log-component-value {
    color: #0047fb; /* orange */
    font-weight: 700;
  }
}

@layer utilities {
  .ci-beacon-ping {
    animation: ci-ping 2.8s cubic-bezier(0, 0, 0.2, 1) infinite;
  }

  .ci-beacon-pulse {
    animation: ci-pulse 1.6s ease-in-out infinite;
  }
}

/* @layer utilities {
  .ci-beacon-ping {
    animation: animate-ci-ping 1.8s cubic-bezier(0, 0, 0.2, 1) infinite;
  }
  .ci-beacon-pulse {
    animation: animate-ci-pulse 1.6s ease-in-out infinite;
  }
} */
