@theme static {
  --color-ci-white: #ffffff;
  --color-ci-black: #000000;

  --color-ci-gray-50: oklch(98.5% 0.002 247);
  --color-ci-gray-100: oklch(96.7% 0.003 247);
  --color-ci-gray-200: oklch(92.8% 0.006 247);
  --color-ci-gray-300: oklch(87.2% 0.01 247);
  --color-ci-gray-400: oklch(70.7% 0.022 261);
  --color-ci-gray-500: oklch(55.1% 0.027 264);
  --color-ci-gray-600: oklch(44.6% 0.03 257);
  --color-ci-gray-700: oklch(37.3% 0.034 259);
  --color-ci-gray-800: oklch(27.8% 0.033 256);
  --color-ci-gray-900: oklch(21% 0.034 264);
  --color-ci-gray-950: oklch(13% 0.028 261);

  --color-ci-blue-50: oklch(97% 0.014 254);
  --color-ci-blue-100: oklch(93.2% 0.032 255);
  --color-ci-blue-200: oklch(88.2% 0.059 254);
  --color-ci-blue-300: oklch(80.9% 0.105 252);
  --color-ci-blue-400: oklch(70.7% 0.165 255);
  --color-ci-blue-500: oklch(62.3% 0.214 260);
  --color-ci-blue-600: oklch(54.6% 0.245 263);
  --color-ci-blue-700: oklch(48.8% 0.243 264);
  --color-ci-blue-800: oklch(42.4% 0.199 266);
  --color-ci-blue-900: oklch(37.9% 0.146 266);
  --color-ci-blue-950: oklch(28.2% 0.091 268);

  --color-ci-green-50: oklch(98.2% 0.018 156);
  --color-ci-green-100: oklch(96.2% 0.044 157);
  --color-ci-green-200: oklch(92.5% 0.084 156);
  --color-ci-green-300: oklch(87.1% 0.15 154);
  --color-ci-green-400: oklch(79.2% 0.209 152);
  --color-ci-green-500: oklch(72.3% 0.219 150);
  --color-ci-green-600: oklch(62.7% 0.194 149);
  --color-ci-green-700: oklch(52.7% 0.154 150);
  --color-ci-green-800: oklch(44.8% 0.119 151);
  --color-ci-green-900: oklch(39.3% 0.095 153);
  --color-ci-green-950: oklch(26.6% 0.065 153);

  --color-ci-amber-50: oklch(98.7% 0.022 95);
  --color-ci-amber-100: oklch(96.2% 0.059 96);
  --color-ci-amber-200: oklch(92.4% 0.12 96);
  --color-ci-amber-300: oklch(87.9% 0.169 92);
  --color-ci-amber-400: oklch(82.8% 0.189 84);
  --color-ci-amber-500: oklch(76.9% 0.188 70);
  --color-ci-amber-600: oklch(66.6% 0.179 58);
  --color-ci-amber-700: oklch(55.5% 0.163 49);
  --color-ci-amber-800: oklch(47.3% 0.137 46);
  --color-ci-amber-900: oklch(41.4% 0.112 46);
  --color-ci-amber-950: oklch(27.9% 0.077 46);

  --color-ci-red-50: oklch(97.1% 0.013 17);
  --color-ci-red-100: oklch(93.6% 0.032 18);
  --color-ci-red-200: oklch(88.5% 0.062 18);
  --color-ci-red-300: oklch(80.8% 0.114 20);
  --color-ci-red-400: oklch(70.4% 0.191 22);
  --color-ci-red-500: oklch(63.7% 0.237 25);
  --color-ci-red-600: oklch(57.7% 0.245 27);
  --color-ci-red-700: oklch(50.5% 0.213 28);
  --color-ci-red-800: oklch(44.4% 0.177 27);
  --color-ci-red-900: oklch(39.6% 0.141 26);
  --color-ci-red-950: oklch(25.8% 0.092 26);
}
